{{define "ProductRow"}}
<tr id="product-{{.ID}}">
    <td>{{.ID}}</td>
    <td>{{.Name}}</td>
    <td>{{.Price}}</td>
    <td>{{.Stock}}</td>
    <td class="actions">
        <button data-id={{.ID}} class="edit">Editar</button>
        <button data-id={{.ID}} class="delete">Excluir</button>
    </td>
</tr>
{{end}}